/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/images/covers/
public/profiles/
public/tours/
public/images/panels/
public/__images/
public/__profiles/
public/__tours/
public/images/cols/
public/images/nice/
public/images/psp/
public/images/HelpProfile - Copy.png
