body{
	/*background-color: #f5f5fa;*/
	/*font-weight: 300!important;*/
	outline: none!important;
}

/* navbar */
header{
	box-shadow: 0 3px 3px #343a40;
	z-index: 1000;
}
footer{
	box-shadow: 0 -3px 3px #343a40;
	z-index: 1000;
}

.navbar-nav{
	flex-grow: 1;
}


#nav-stats .nav-item{
	min-width: 200px;
}

.menuitem-user{
	width: 100%;
	max-width: initial;
    text-align: left;
    padding-left: 10px;
}
.headeruser{
	padding: 0;
	padding-left: 10px;
}
._dropdown{
	position: absolute;
    background: #333;
    padding: 0;
	font-size: 0.9em;
	border-left: 1px solid #666;
}

._dropdown div{
	padding: 5px 10px;
}
._dropdown div:hover{
	background: #666;
}
._dropdown a{
	display: block;
}
._dropdown a:hover{
	text-decoration: none;
}

#logo_img{
	height: 40px;
}

.text-small-60{
	font-size: 0.6rem;
}

.text-small-70{
	font-size: 0.7rem;
}

.text-small-75{
	font-size: 0.75rem;
}

.text-small-90{
	font-size: 0.9rem;
}

/* search*/

#search {
    max-width: 600px;
    width: 80%;
    top: 20%;
    position: absolute;
    opacity: 0.8;
    z-index: 100000;
}

#search-result{
	position: absolute;
	top: 50px;
	z-index: 1000;
}

.ui-autocomplete .list-group-item:first-child{
	border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

.ui-autocomplete-input-open {
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/*
.searchitemflag {
    width: 20px;
    border-radius: 2px;
    margin-right: 4px;
    margin-bottom: 2px;
}
*/
/*
.searchitemheight {
	font-size: 0.8em;
    color: #666666;
    border-radius: 3px;
    padding: 2px;
    margin: 2px 4px;
    font-weight: 600;
}*/
	
.search-input{
	/*margin: auto;
	width: 50%;
	top: 30%;*/
	width: 100%;
}
.search-input-wrapper{
	position: absolute;
    z-index: 1000;
}

/*phototext*/

.phototext {
	position: absolute;
	right: 2%;
	bottom: 5%;
	z-index: 1000;
	color: white;
}
.phototext a {
	text-shadow: 2px 2px 2px #000000;
	color: inherit;
}
.phototext img {
	height: 14px;
	border-radius: 2px;
	box-shadow: 2px 2px 2px #000000;
	margin-left: 5px;
}

/*font awesome*/
.fas{
	cursor: pointer;
}
.fas-grey{
	color: #999;
}

/* follow */
.follow{
	cursor: pointer;
}

.cursor-wait{
	cursor: wait!important;
}

/* flags */
.flag{
	height: 0.8em;
	border-radius: 0.1em;
	/*margin: 0.2em;*/
	margin-bottom: 0.2em;
}
.flag2{
	margin-left: -0.1em;
}

.flag-big{
	height: 1.6em!important;
}

/* panels */
.panel{
	border-radius: 0.2em;
	max-width: 100%;
}

/* elevation */
.badge-elevation{
	border: 0.05em solid #bbb;
    background: #ededed;
    color: #333;
}

/* strava */
.strava-icon{
	margin-bottom: 2px;
}

/* card */

.card-img-background{
	height: 100px;
	background-size: cover;
	position: relative;
}

.card-img-new{
	color: #fff;
    width: 40px;
    height: 16px;
    position: absolute;
    left: -8px;
    top: 3px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    padding: 0px;
    border-radius: 5px;
    -ms-transform: rotate(335deg);
    -webkit-transform: rotate(335deg);
    transform: rotate(325deg);
    background-image: linear-gradient(#f80, #fb9);
}

.badge-new {
	color: #fff;
    background-image: linear-gradient(#f80, #fb9);
}

/*direction*/

.direction {
	display: inline-block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 0.05rem solid gray;
    margin-bottom: 0.2em;
}

/*category*/

.category {
	display: inline-block;
    text-align: center;
    font-weight: bold;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    border: 0.05rem solid gray;
    /*margin-right: 0.5rem;*/
    line-height: 1rem;
    font-size: 0.8rem;
}
.category-1 {
  background: #ff0000 !important;
  color: #333;
  text-shadow: 2px 2px 3px #990000;
  border-color: #cc0000;
}
.category-2 {
  background: #ff6600 !important;
  color: #333;
  text-shadow: 2px 2px 3px #993d00;
  border-color: #cc5200;
}
.category-3 {
  background: #ffbb00 !important;
  color: #333;
  text-shadow: 2px 2px 3px #997000;
  border-color: #cc9600;
}
.category-4 {
  background: #ffff40 !important;
  color: #333;
  text-shadow: 2px 2px 3px #d9d900;
  border-color: #d9d900;
}
.category-5 {
  background: #ffffff !important;
  color: #333;
  text-shadow: 2px 2px 3px #cccccc;
  border-color: #999999;
}

/* about */
.about-image{
	text-align: center;
}

.about-image img{
	border-radius: 5px;
}

/* card-deck responsive fix, from https://www.codeply.com/go/peDJfhRYJT/bootstrap-4-responsive-card-deck-(css) */ 
/* responsively enforce wrapping */
/*.card-deck span.dummy {
      display: none;
}

@media (min-width:1200px){
    .card-deck span.dummy:nth-of-type(5n) {
      display: block;
      width: 100%;
    }
    
}
@media (min-width:992px) and (max-width: 1199px) {
   .card-deck span.dummy:nth-of-type(4n) {
      display: block;
      width: 100%;
    }
    
}
@media (min-width:768px) and (max-width: 991px) {
    .card-deck span.dummy:nth-of-type(3n) {
      display: block;
      width: 100%;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .card-deck span.dummy:nth-of-type(2n) {
      display: block;
      width: 100%;
    }
}*/

/* add css for margin fix -- this will not be needed after beta */
.card-deck .card {
    box-shadow: 0 0 1rem 0.05rem rgba(0,0,0,0.1);
	border: none;
}
/*
.card-deck .card:not(:last-child) {
    margin-right: 15px;
}

.card-deck .card:not(:first-child) {
    margin-left: 15px;
}*/

/* added mvl */
.card-invisible{
	background: transparent!important;
    border: none!important;
	box-shadow: none!important;
}

.pointer{
	cursor: pointer!important;
}

.no-pointer{
	cursor: default!important;
}

.cc-new-label{
	width: 50px;
    text-align: center;
    font-size: 0.7em;
	color: #fff;
}

.cc-img-help{
	max-width: 100%;
	display: block;
}

/* col page */
@media (max-width: 589px) {
  .colimage,
  .colimage2 {
    height: 150px;
  }
}
@media (min-width: 590px) and (max-width: 766px) {
  .colimage,
  .colimage2 {
    height: 250px;
  }
}
@media (min-width: 767px) {
  .colimage,
  .colimage2 {
    height: 350px;
  }
}

.colimage,
.colimage2 {
	background-size: cover;
}

/**/
.line-height-1{
	line-height: 1;
}

/* col climbed */
.col-climbed-no {
	color: #666;
}
.col-climbed-no-light {
	color: #ccc;
}
.col-climbed-yes, .col-climbed-yes-edit-hover {
	color: #f80;
}
.col-climbed-yes-edit {
	color: #f00;
}

.col-climbed-date{
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
    width: 70px;
    font-weight: 500;
    opacity: 0.7;
}

.col-marker-not-climbed{
	opacity: 0.3;
	z-index: -1000000!important;
}
.col-marker-climbed{
	opacity: 1!important;
}

.climbed-control-checked{
	color: red;
}

/*
.col-climbed-date:hover {
	color: rgba(255, 255, 255, 0.75);
}*/


/* col rating */
/*
.col-rating-no, .col-rating-no-edit-hover {
	color: #666!important;
}
.col-rating-yes, .col-rating-yes-edit-hover {
	color: #f80!important;
}
.col-rating-yes-edit {
	color: #f00;
}*/

/**/

.col-map{
	height: 250px;
}

.col-box{
    box-shadow: 0 0 1rem 0.05rem rgba(0,0,0,0.1);
    background-color: #fff;
}

.profile-img{
	max-width: 100%;
	max-height: 400px;
}
/*
.profile-footer > * {
	display: inline-block;
}*/

/* color category */

.color-1{
	color: #f00;
}

.color-2{
	color: #f80;
}

.number-icon
{
    background-image: url("/images/ColRed.png");
    text-align:center;
    color:white;   
    padding-top: 4px;
    font-size: 16px; 
}

/* ads*/

#ads-wrapper {
  z-index: 2147483647;
}
@media (max-width: 589px) {
  #ads-wrapper {
    display: none;
  }
}
img.ad {
	/*max-width: 200px;*/
	max-height: 150px;
}

/*  user */
.bar{
	height: 0.8em;	
	float: left;
	line-height: 1;
	color: #fff;
    border: 0.05rem solid #ff8800;
}

.bar-big{
	height: 1.2em!important;	
}

.bar-total{
    background-color: #f2f3f4;
    color: #ff8800;
}

.bar-year{
    background-color: #ff8800;
}

.bar-rounded, .bar-rounded-left{	
	border-top-left-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
}
.bar-rounded, .bar-rounded-right{	
	border-top-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.kpi{
    border: 0.03rem solid #ff8800;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #f2f3f4;
}

.kpi-1{	
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
}

.kpi-2{	
    width: 67px;
    height: 67px;
    line-height: 67px;
    font-size: 20px;
}

.kpi-3{	
    width: 53px;
    height: 53px;
    line-height: 53px;
    font-size: 16px;
}

.kpi-4{	
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
}

/* rides */
.ride{
	line-height: 2;
}
.ride-date {
	width: 80px;
}
.ride-countries {
	width: 80px;
}
.ride-index {
	display: inline-block;
    width: 2em;
}
.ride-index-0 {
	background: #ffffff;
}
.ride-index-1 {
	background: #ffff40;
}
.ride-index-2 {
	background: #ffbb00;
}
.ride-index-3 {
	background: #ff6600;
}
.ride-index-4 {
	background: #ff0000;
}
.ride-profile {
	height: 25px;
	cursor: pointer;
}
.ride-weather{
	height: 1.5em;
}

/*  datepicker */

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
	z-index: 1000!important;
    /*background: #f2f3f4;
    border-radius: 0.2em;
	border: 0.03rem solid #dee2e6;*/
    box-shadow: 0 0 1rem 0.05rem rgba(0,0,0,0.1);
    background-color: #fff;
}

.ui-datepicker *{
	font-weight: 300;
	font-size: 0.75rem;
}

.ui-datepicker-today span,
.ui-datepicker-today a{
	background-color: #ffc107;
}
.ui-datepicker-current-day span,
.ui-datepicker-current-day a	{
	background-color: #ff8800;
}
.ui-datepicker-unselectable span,
.ui-datepicker-unselectable a{
	color: #dee2e6!important;
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
    background-size: cover;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	/*top: 1px;*/
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
	background-image:  url("/images/East.png");
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
	background-image:  url("/images/West.png");
}
.ui-datepicker .ui-datepicker-prev-hover {
	/*left: 1px;*/
}
.ui-datepicker .ui-datepicker-next-hover {
	/*right: 1px;*/
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
    border: 0.03rem solid #dee2e6;
    border-radius: 0.2em;
	color: #000;
}
.ui-datepicker td:not(.ui-datepicker-unselectable) span:hover,
.ui-datepicker td:not(.ui-datepicker-unselectable) a:hover {
	background-color: #dee2e6;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* Icons */
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em;
}
/*
.ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_444444_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_444444_256x240.png");
}*/

/*

.ui-datepicker{    
	z-index: 1000!important;
    background: #f2f3f4;
    border-radius: 0.2em;
	border: 0.03rem solid #ff8800;
}

.ui-datepicker *{
	font-weight: 300;
	font-size: 0.9rem;
}

.ui-datepicker-header{
    padding: 5px;
	border-bottom: 0.03rem solid rgba(255, 255, 255, 0.5)!important;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}*/